.body{
  display: flex;
  justify-content: center; 
  flex-direction: column;
  background-image: linear-gradient(white, #fbfb6f);
}
*{
  margin:0;
}
.logo{
  width:450px;
  margin: auto;
  padding-bottom: 10px;
}
.flex-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.one{
  width:90%;
  align-items: center;
  margin: auto;
}

.two{
  width:90%;
}
.three{
  width:80%;
  margin: auto;
}
.column1 {
  display: flex;
  flex: 1;
  margin:auto;
  align-items: center;
}

.column2 {
  flex: 2;
}

.mid{
  padding: 5px;
  margin: auto;
  text-align: center;
}
.hr{
  width: 95%;
  margin: 35px auto;
  border: 1px solid red;
}
.ver{
  color: red;
  font: bold;
  text-align: around;
  margin: auto;
}

.footer{
  margin-top: 20px;
  height: 80px;
  color: white;
  display: flex;
  flex-wrap: wrap;
  background-color: red;
  justify-content: space-around; /* Horizontally center the image */
  align-items: center; /* Vertically center the image */
}
.val{
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .flex-container {
    flex-direction: column;
  }
  .one{
    width:60%;
  }
  .logo{
    width: 280px;
  }
}